{% extends 'main/base.html' %}
{% block title %}Home |Anime {% endblock %}
{% load static %}
{% block content %}
<section>
   <h1 class="heading">MY <span>Anime </span></h1><br>
   <div class="card-group">
      <div class="card">
        <img src="https://i.pinimg.com/474x/d5/77/e6/d577e651f600b72efae0b2dcaa0ba218.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tokyo Ghoul</h5>
          <p class="card-text">Tokyo Ghoul is a Japanese manga series written and illustrated by Sui Ishida. It was published in Weekly Young Jump magazine from September 2011 to September 2014,
             and was then recollected into fourteen tankōbon volumes as of October 2014</p>
          <a href="https://www.imdb.com/title/tt3741634/" class="btn-primary">THE OFFER</a>
         </div>
        <div class="card-footer">
          <small class="text-body-secondary">Adaptations: Tokyo Ghoul (2017), Tokyo Ghoul S (2019)</small>
        </div>
      </div>
      <div class="card">
        <img src="https://i.pinimg.com/736x/d4/04/13/d40413e12a679389553e84aaf0674fb3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Grave of the Fireflies</h5>
          <p class="card-text">Grave of the Fireflies was produced in 1988, directed by Isao Takahata and animated by Studio Ghibli. The film's story is taken from the novel of the same name by Akayuki Nosaka, which was based on real events that the writer lived through during World War II. It was published in 1967 as an apology to his sister, 
            as he believes that his neglect of her was the main reason for her death.</p>
          <a href="https://www.rogerebert.com/reviews/great-movie-grave-of-the-fireflies-1988" class="btn-primary">THE OFFER</a>
         </div>
        <div class="card-footer">
          <small class="text-body-secondary">Launch date: April 16, 1988 (Japan)</small>
        </div>
      </div>
      <div class="card">
        <img src="https://i.pinimg.com/564x/66/d5/90/66d59094e6a6c76ffe3367929924e651.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">My Neighbor Totoro</h5>
          <p class="card-text">Gary Totoro was produced in 1988, written and directed by Hayao Miyazaki and produced by the children's cartoon Studio Ghibli. The film tells the story of two girls (Satsuki and her sister Mei), daughters of a university professor, and their adventures with fictional cartoon characters in
             the background house to help the father and worship the mother who talks in the hospital.</p>
             <a href="https://www.imdb.com/title/tt0096283/" class="btn-primary">THE OFFER</a>
            </div>
        <div class="card-footer">
          <small class="text-body-secondary">Launch date: April 16, 1988 (Japan)</small>

        </div>
      </div>
    </div>
   </section>
{% endblock %}