
  {% extends 'main/base.html' %}
  {% block title %}Requests Manager{% endblock %}
  {% load static %}
  {% block content %}
  <br>
  
      {% if user.is_staff or user.is_superuser %}

      <a href="{% url 'accounts:profile' %}" style="text-decoration: none; color: white;"> <h1 style="font-size: 50px;"><i class='bx bx-left-arrow-alt' ></i> Requests Manager</h1></a>
      
      <br>
      
      <table class="table table-success rounded-4">
          <thead>
              <tr style="font-size: 20px; text-align: center;">
                  <th scope="col">#</th>
                  <th scope="col">Requester</th>
                  <th scope="col">Service</th>
                  <th scope="col">Status</th>
                  <th scope="col">Edit</th>
              </tr>
          </thead>
          <tbody>
              
            {% for request in service_requests %}

                <tr style="font-size: 20px;  text-align: center;">
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ request.user.username }}</td>
                  <td>{{ request.service.title }}</td>
                  {% if request.status == 'pending' %}
                  <td>{{ request.status }} 🕛</td>
                  {% endif %}
                  {% if request.status == 'in_progress' %}
                  <td>{{ request.status }} 🕑</td>
                  {% endif %}
                  {% if request.status == 'done' %}
                  <td>{{ request.status }} ✅</td>
                  {% endif %}
                  {% if request.status == 'canceled' %}
                  <td>{{ request.status }} ❌</td>
                  {% endif %}
                  
                  <td><a href="{% url 'service:update_service_request' request_id=request.id %}">✏️</a></td>
                </tr>
                {% endfor %}
                
              </tbody>
            </table>
            {% else %}
<      <a href="{% url 'main:home' %}" style="text-decoration: none; color: white;"> <h1 style="font-size: 50px;"><i class='bx bx-left-arrow-alt' ></i> Not Allowed Here </h1></a>
>      {% endif %}

  {% endblock %}